.video-player-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    .video-player-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .seek-forward {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 50px;
    }
    .seek-backward {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50px;
    }
    video {
      width: 100%;
      height: 100%;
      display: block;
    }
    .controls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      transition: 0.3s ease-in-out;
      padding: 10px;
      background: linear-gradient(to bottom, #00000000, #000000);
      &-show {
        transform: translateY(0);
      }
      .main-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 4px 0;
        .main-controls_left {
          display: flex;
          align-items: center;
          .btn-play-pause {
            height: 24px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            img {
              height: 100%;
            }
          }
          .clock {
            color: white;
            font-size: 20px;
            margin-left: 20px;
          }
          .btn-rewind {
            height: 24px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            .icon-rewind {
              height: 100%;
            }
          }
          .btn-fast-forward {
            height: 24px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            .icon-rewind {
              height: 100%;
              transform: rotate(180deg);
            }
          }
          .btn-volume {
            height: 32px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 10px;
            position: relative;
            z-index: 5;
            img {
              height: 100%;
            }
            .input-volume-wrapper {
              position: absolute;
              bottom: 100%;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s linear;
              transform: rotate(270deg) translate(50%, -56px);
              height: 20px;
              left: 50%;
              background-color: #b1b1b1;
              border-radius: 2px;
              display: flex;
              align-items: center;
              padding: 0 5px;
              cursor: default;
              .input-volume {
                height: 5px;
                padding: 0;
                margin: 0;
                cursor: pointer;
                border-radius: 5px;
                -webkit-appearance: none;
                width: 100px;
                z-index: 1;
                box-shadow: inset 0 0 3px 1px #7b7b7b;
                &::-webkit-slider-thumb {
                  background-color: white;
                  -webkit-appearance: none;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  &:hover {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
            &:hover {
              .input-volume-wrapper {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        .main-controls_right {
          display: flex;
          align-items: center;
          .btn-pip {
            height: 32px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 15px;
            img {
              height: 100%;
            }
          }
          .btn-full-screen {
            height: 24px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 15px;
            img {
              height: 100%;
            }
          }
        }
      }

      .player-progress {
        margin-bottom: 10px;
        height: 24px;
        position: relative;
        .input-range {
          width: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: 3;
          -webkit-appearance: none;
          background: #7b7b7b;
          outline: none;
          opacity: 0.8;
          -webkit-transition: 0.3s;
          transition: opacity 0.3s;
          height: 5px;
          cursor: pointer;
          border-radius: 8px;
          &::-webkit-slider-thumb {
            background-color: white;
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            &:hover {
              width: 25px;
              height: 25px;
            }
          }
          &:hover {
            opacity: 1;
            height: 8px;
          }
        }
        .progress-bar {
          width: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: 2;
        }
      }
    }
  }
}
