.video-player-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    .video-player-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .seek-forward {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 50px;
    }
    .seek-backward {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50px;
    }
    video {
      width: 100%;
      height: 100%;
      display: block;
    }
    &-is-mobile {
      .seek-forward {
        right: 30px;
      }
      .seek-backward {
        left: 30px;
      }
    }
    &-need-zoom {
      .main-controls,
      .video-title,
      .play-effect-container,
      .btn-replay,
      .seek-effect-container {
        zoom: 0.6;
      }
      .player-progress {
        margin-bottom: 5px;
        .slider-title {
          font-size: 12px;
        }
      }
    }
  }
}
