.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  border: 1px solid #1877f2;
  outline: none;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}
option {
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}
.video-area {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  height: 225px;
  overflow: auto;
  padding: 2px;
  resize: both;
  width: 400px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
