.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  padding: 10px 5px;
  background: linear-gradient(to bottom, #00000000, #00000090);
  &-show {
    visibility: visible;
    opacity: 1;
  }
  .main-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    .main-controls_left {
      display: flex;
      align-items: center;
      .btn-play-pause {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .clock {
        color: white;
        margin-left: 10px;
        display: inline-flex;
        font-size: 14px;
      }
      .btn-rewind {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 10px;
        height: 14px;
        font-size: 14px;
        .icon-rewind {
          height: 100%;
          display: inline-flex;
          * {
            display: inline-block;
            border-color: transparent white transparent transparent;
            border-style: solid;
            border-width: 0.5em 0.75em 0.5em 0;
          }
        }
      }
      .btn-fast-forward {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 10px;
        height: 14px;
        font-size: 14px;
        img {
          transform: scaleX(-1);
        }
      }
      .btn-volume {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 10px;
        position: relative;
        z-index: 5;
        display: inline-flex;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: center;
        height: 20px;
        img {
          height: 100%;
        }
        .input-volume {
          padding: 0;
          margin: 0;
          cursor: pointer;
          border-radius: 0px;
          -webkit-appearance: none;
          transition: 0.3s ease-out;
          z-index: 1;
          margin-left: 6px;
          -webkit-tap-highlight-color: transparent;
          width: 50px;
          height: 3px;
          background-color: white;
          &::-webkit-slider-thumb {
            background-color: white;
            -webkit-appearance: none;
            width: 0;
            height: 0;
            border-radius: 50%;
          }
          &:hover,
          &-hover {
            &::-webkit-slider-thumb {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
    .main-controls_right {
      display: flex;
      align-items: center;
      .btn-setting {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0 15px;
        -webkit-tap-highlight-color: transparent;
        &-show {
          img {
            transform: rotate(35deg);
          }
        }
        img {
          transition: 0.3s ease-out;
        }
      }
      .btn-pip {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 15px;
        -webkit-tap-highlight-color: transparent;
      }
      .btn-full-screen {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 15px;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }

  .player-progress {
    margin-bottom: 10px;
    height: 24px;
    position: relative;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    .slider-title {
      position: absolute;
      cursor: default;
      bottom: 100%;
      left: 0;
      color: white;
      transform: translateX(-50%);
      display: none;
      &.slider-title-show {
        display: inline-block;
      }
    }
    .progress-bar {
      height: 3px;
      width: 100%;
      transition: 0.2s linear;
      transform: scaleY(1);
      margin: auto 0;
    }
    .circle-range-point {
      display: inline-block;
      width: 0px;
      height: 0px;
      background-color: #1877f2;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: width 0.2s linear, height 0.2s linear;
    }
    &-hover {
      .progress-bar {
        transform: scaleY(1.4);
      }
      .circle-range-point {
        width: 12px;
        height: 12px;
      }
    }
  }
}
.video-wrapper-is-mobile {
  .controls {
    padding: 10px 5px 5px;
    .main-controls {
      .main-controls_left {
        .clock {
          font-size: 14px;
          margin-left: 7px;
        }
        button {
          &.btn-play-pause {
            display: none;
          }
          &.btn-rewind {
            margin: 0 7px 0 0;
            display: none;
          }
          &.btn-fast-forward {
            margin: 0 7px;
            display: none;
          }
          &.btn-volume {
            padding: 0 7px;
          }
        }
      }
      .main-controls_right {
        .btn-setting {
          margin: 0 7px;
        }
        .btn-pip {
          padding: 0 7px;
        }
        .btn-full-screen {
          padding: 0 7px;
        }
      }
    }
    .player-progress {
      margin-bottom: 5px;
    }
  }
}
